.App {
  text-align: center;
}

.MessageMarker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 250px;
}

.MessageMarker .date {
  font-size: 14px;
}

.MessageMarker .title {
  font-size: 18px;
  line-height: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}

.MessageMarker .location {
  font-size: 14px;
  font-weight: 700;
}

.MessageMarker .description {
  font-size: 16px;
}

.MarkerIcon {
  margin: auto;
  width: 50%;
}

.MessageMarker h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.firstLine {
  display: flex;
  justify-content: space-between;
}

.sideBar {
  background-color: white;
  max-width: 50%;
  padding: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  font-size: 20px;
}

.sideBar ul {
  text-align: left;
}

.box-shadow {
	/*start ------------*/
	background: #F8F8F8;
  border-radius: 5px;
	box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1)  ; 
}

.emailInput {
  margin-top: 20px;
  margin-bottom: 20px;
}

#areaSelector {
  text-align: left;
}

.title {
  font-weight: 300;
}

.subtitle {
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 20px;
}

.upperContainer {
  display: flex;
  flex-direction: column;
}

.lowerContainer {
  display: flex;
  flex-direction: column;
}